flows.json
[
    {
        "id": "30bfffe14836de0f",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74a8d5bdab068bb6",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "LEER",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "057f0d931ddff8f7"
            ]
        ]
    },
    {
        "id": "da67b0e70f777c1a",
        "type": "ui_template",
        "z": "30bfffe14836de0f",
        "group": "6fc5ca55e78a0a84",
        "name": "LINK",
        "order": 1,
        "width": 8,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.enlace\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "33e4d5e26b0ea206",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 7",
        "func": "// Guarda el archivo Excel en la variable de contexto \nflow.set(\"archivoExcel\", msg.payload); \nmsg.payload = \"\";\nvar enlace = \" \"; \n// Crea el enlace HTML de descarga \nmsg.enlace = '<div style=\"text-align: center; margin-top: 20px;\">' + \n             '<a href=\"/download\" target=\"_blank\">Descargar reporte Excel</a>' +              \n             '</div>'; \nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "da67b0e70f777c1a"
            ]
        ]
    },
    {
        "id": "6a33ce06083b440a",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 8",
        "func": "var dataArray = msg.payload; // Ej: [ [\"Encabezado1\", \"Encabezado2\"], [\"Dato1\", \"Dato2\"], ... ] \nvar headers = dataArray[0]; \nvar dataObjects = []; \n// Recorrer el array empezando desde la segunda fila \nfor (var i = 1; i < dataArray.length; i++) {     \n          var row = dataArray[i];     \n          var obj = {};     \n          for (var j = 0; j < headers.length; j++){         \n            obj[headers[j]] = row[j]; \n          }     \n          dataObjects.push(obj); \n} \nmsg.payload = dataObjects; \nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            [
                "3ec5b3220afae997"
            ]
        ]
    },
    {
        "id": "3ec5b3220afae997",
        "type": "xlsx-out",
        "z": "30bfffe14836de0f",
        "name": "",
        "sheetName": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "33e4d5e26b0ea206"
            ]
        ]
    },
    {
        "id": "23bd4b6af81b7207",
        "type": "http in",
        "z": "30bfffe14836de0f",
        "name": "DOWNLOAD",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "b4aa11862d755621"
            ]
        ]
    },
    {
        "id": "b4aa11862d755621",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 10",
        "func": "// Recupera el archivo Excel almacenado en la variable de contexto \nvar archivo = flow.get(\"archivoExcel\"); \nflow.set(\"archivoExcel\", null);  \n// Verificar si el archivo existe \nif (!archivo) { \n    // Si no se encontró, se devuelve un error     \n    msg.statusCode = 404;     \n    msg.payload = \"El archivo Excel no está disponible o no se ha generado.\";     \n    return msg; \n}  \n// Establecer las cabeceras HTTP para que el navegador lo trate como un archivo descargable en formato Excel \nmsg.headers = { \n    \"Content-Type\": \"application/vnd.openxmlformatsofficedocument.spreadsheetml.sheet\", \n    \"Content-Disposition\": 'attachment; filename=\"reporte.xlsx\"' \n};  \n// Colocar en msg.payload el contenido binario del archivo Excel \nmsg.payload = archivo; \nreturn msg; ",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "776dbb7d54fc8326"
            ]
        ]
    },
    {
        "id": "776dbb7d54fc8326",
        "type": "http response",
        "z": "30bfffe14836de0f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "057f0d931ddff8f7",
        "type": "GSheet",
        "z": "30bfffe14836de0f",
        "creds": "3d0e07754521693a",
        "method": "get",
        "action": "",
        "sheet": "1CGfI2dkxgYdfw37UlectzlLVmVtBW0EQ8MUh9ni5R6Q",
        "cells": "hoja1!A1:Z1000",
        "flatten": false,
        "name": "",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "6a33ce06083b440a"
            ]
        ]
    },
    {
        "id": "e24b42ecf91cc75f",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "ESCRIBIR",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[$moment().format('YYYY-MM-DD'), $round($random()*100, 2), $round($random()*100, 2), $round($random()*100, 2), $round($random()*100, 2)]",
        "payloadType": "jsonata",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "e7534f9ecc49c258"
            ]
        ]
    },
    {
        "id": "e7534f9ecc49c258",
        "type": "GSheet",
        "z": "30bfffe14836de0f",
        "creds": "3d0e07754521693a",
        "method": "append",
        "action": "",
        "sheet": "1CGfI2dkxgYdfw37UlectzlLVmVtBW0EQ8MUh9ni5R6Q",
        "cells": "hoja1!A5",
        "flatten": false,
        "name": "",
        "x": 270,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "62540a5099c8d36b",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "dato1",
        "props": [
            {
                "p": "topic",
                "v": "$round($random()*100, 2)",
                "vt": "jsonata"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "f6733eada21bfe70"
            ]
        ]
    },
    {
        "id": "dcced9fbf933b75b",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "dato2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random()*100, 2)",
        "payloadType": "jsonata",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "fd4552a50750bcbe"
            ]
        ]
    },
    {
        "id": "c32e681a76cf3d45",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "dato3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random()*100, 2)",
        "payloadType": "jsonata",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "92bf6e3362acc412"
            ]
        ]
    },
    {
        "id": "e9087cd828bc8483",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "dato4",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "$round($random()*100, 2)",
        "payloadType": "jsonata",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "26a335dff747a918"
            ]
        ]
    },
    {
        "id": "f6733eada21bfe70",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 1",
        "func": "// guardar el valor en contexto de flujo\nflow.set('temp', msg.topic);\nmsg.payload = msg.topic;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 300,
        "wires": [
            [
                "0001f6a88ebc04b5"
            ]
        ]
    },
    {
        "id": "fd4552a50750bcbe",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 9",
        "func": "// guardar el valor en contexto de flujo\nflow.set('luz', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 360,
        "wires": [
            [
                "fbc4ae5b1d875610"
            ]
        ]
    },
    {
        "id": "92bf6e3362acc412",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 11",
        "func": "// guardar el valor en contexto de flujo\nflow.set('hum_suelo', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 420,
        "wires": [
            [
                "e5e524232045f503"
            ]
        ]
    },
    {
        "id": "26a335dff747a918",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 12",
        "func": "// guardar el valor en contexto de flujo\nflow.set('hum_ambiente', msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 480,
        "wires": [
            [
                "e7a45bd7690a2d8b"
            ]
        ]
    },
    {
        "id": "0001f6a88ebc04b5",
        "type": "ui_gauge",
        "z": "30bfffe14836de0f",
        "name": "dato1",
        "group": "2860c9df3bc14fd2",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "TEMPERATURA",
        "label": "units",
        "format": "{{value}}",
        "min": "-55",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "fbc4ae5b1d875610",
        "type": "ui_gauge",
        "z": "30bfffe14836de0f",
        "name": "dato2",
        "group": "2860c9df3bc14fd2",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "LUZ",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "e5e524232045f503",
        "type": "ui_gauge",
        "z": "30bfffe14836de0f",
        "name": "dato3",
        "group": "2860c9df3bc14fd2",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "HUM_SUELO",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "e7a45bd7690a2d8b",
        "type": "ui_gauge",
        "z": "30bfffe14836de0f",
        "name": "dato4",
        "group": "2860c9df3bc14fd2",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "HUM_AMBIENTE",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "5c190e65348f47a9",
        "type": "function",
        "z": "30bfffe14836de0f",
        "name": "function 2",
        "func": "// Obtener últimos valores\nconst fecha = new Date().toLocaleDateString('en-CA', { timeZone: 'America/La_Paz'}); // YYYY-MM-DD\nconst t  = flow.get('temp')        || 0;\nconst l  = flow.get('luz')         || 0;\nconst hs = flow.get('hum_suelo')   || 0;\nconst ha = flow.get('hum_ambiente')|| 0;\n// Montar el array para Google Sheets\nmsg.payload = [ fecha, t, l, hs, ha ];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 540,
        "wires": [
            [
                "c3f645121877dab0"
            ]
        ]
    },
    {
        "id": "c3f645121877dab0",
        "type": "GSheet",
        "z": "30bfffe14836de0f",
        "creds": "3d0e07754521693a",
        "method": "append",
        "action": "",
        "sheet": "1CGfI2dkxgYdfw37UlectzlLVmVtBW0EQ8MUh9ni5R6Q",
        "cells": "hoja1!A5",
        "flatten": false,
        "name": "",
        "x": 450,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "049ff4136c046af2",
        "type": "inject",
        "z": "30bfffe14836de0f",
        "name": "TRIGGER",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "5c190e65348f47a9"
            ]
        ]
    },
    {
        "id": "c4a2bc67ed2ed6e5",
        "type": "ui_spacer",
        "z": "30bfffe14836de0f",
        "name": "spacer",
        "group": "6fc5ca55e78a0a84",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "6fc5ca55e78a0a84",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "13b7d650bf779565",
        "order": 1,
        "disp": false,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d0e07754521693a",
        "type": "gauth",
        "name": "node-red-sheets@ninth-optics-458601-r5.iam.gserviceaccount.com"
    },
    {
        "id": "2860c9df3bc14fd2",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "13b7d650bf779565",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "13b7d650bf779565",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]